<!DOCTYPE html>
<html>
<head>
  <title>URL Shortener</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <h1>URL Shortened!</h1>
  <p>Short URL:</p>
  <a href="<%= shortUrl %>"><%= shortUrl %></a>
</body>
</html>
